{% extends 'base.html' %}
{% block title %} Appointment {% endblock %}

{% block content %}
<h1>Appointment</h1>
    <h2>Create Appointment</h2>
    <form method="post">
        {% csrf_token %}
        <p> Doctor:
            <select name="doctor">
            {% for user in users %}
                <option value="{{ user.id }}">{{ user.username }}</option>
            {% endfor %}
            </select>
        </p>
        <p>Appointment Date: <input type="date" name="appointment_date"></p>
        <p>Appointment Time: <input type="time" name="appointment_time"></p>
        <p>Appointment Status: <input type="text" name="appointment_status"></p>
        <p>Appointment Details: <input type="text" name="appointment_details"></p>
        <button type="submit">Create</button>
    </form>

    {% for appointment in appointments %}
        <a href="{% url 'appointment_detail' appointment.id %}"></a>

        <p>Doctor:{{ appointment.doctor.username }}</p>
        <p>Appointment Date:{{ appointment.appointment_date }}</p>
        <p>Appointment Time:{{ appointment.appointment_time }}</p>
        <p>Appointment Status:{{ appointment.appointment_status }}</p>
        <p>Appointment Details:{{ appointment.appointment_details }}</p>

    {% endfor %}
{% endblock %}

