{% extends 'base.html' %}
{% block title %}My Appointments{% endblock %}
{% block content %}
    <h1>Patients Booked Appointments</h1>
    {% for appt in appointments %}
        <div class="card mb-2 p-3">
            <p>Patient: {{ appt.patient.username }}</p>
            <p>{{ appt.slot.appointment_date}} - {{ appt.slot.appointment_time }}</p>
            <p>Status: {{ appt.get_appointment_status_display }}</p>
            {% if appt.appointment_details %}
                <p>Notes: {{ appt.appointment_details }}</p>
            {% endif %}
        </div>
    {% empty %}
        <p>No Appointments Booked</p>
    {% endfor %}
    <a href="{% url 'doctor_dashboard'%}">Back to Dashboard</a>
{% endblock %}