{% extends 'base.html' %}
{% block title %}Manage Appointments{% endblock %}
{% block content %}
    <h1>Manage Appointments</h1>
    {% for appt in appointments %}
        <div class="card mb-2 p-3 d-flex flex-row justify-content-between align-items-center">
            <span>
                {{ appt.patient.username }} with {{ appt.slot.doctor.name }}
                - {{ appt.slot.appointment_date }} {{ appt.slot.appointment_time }}
                ({{ appt.get_appointment_status_display}})
            </span>
            <a class="btn btn-danger btn-sm" href="{% url 'dashboard_appointment_cancel' appt.pk%}">Cancel</a>
        </div>
    {% empty %}
        <p>No Appointments</p>
    {% endfor %}
    <a href="{% url 'dashboard_home' %}" class="btn btn-primary">Back to Dashboard</a>
{% endblock %}